
/*
* iphone5 (320*568)
*/
$scale:2.375rpx;
@function cr($number) {
    @return ($number * $scale)
};

.main-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-img {
    background: url('https://www.xdxlb.xyz/images/xdxlb20190614185102.jpg') no-repeat 0 0;
    background-size: contain;
    background-attachment: fixed;
}

.float-modal {
    width: 86%;
    margin-top: cr(50);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: cr(6);
    box-shadow: cr(1) cr(3) cr(30) cr(5) rgba(187, 187, 187, 0.64);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.full-model{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; 
    z-index: 999;
    background-color: rgba(187,187,187,0.64);
}